<% title "#{AppSettings['settings.site_name']}: #{@page_title}" %>

<% if knowledgebase? %>
  <div class="row">
    <% @categories.each do |category| %>
      <%# if category.docs.all.with_translations(I18n.locale).count > 0 %>
        <%= render partial: 'categories/category_panel', object: category %>
      <%# end %>
    <% end %>

    <div class="category category-panel col-md-12 vcenter">
      <div class="col-md-2 text-center">
        <%= content_tag :i, nil, class: "glyphicon glyphicon-user home-icon" %>
      </div>
      <div class="col-md-10">
        <p >
        <h4><a href="/en/topics/new">Create a New Helpdesk Ticket </a></h4>
        <p></p>Can't find what you need? A support agent will get back to you. We typically answer as fast as possible - Please allow up to 12 hours as our team may be super busy.</h5>
        </p>
      </div>
    </div>


  </div>
<% else %>
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-4 col-sm-4 main-option-container">
      <div class="jumbotron text-center main-option">
        <%= link_to(new_topic_path) do %>
          <i class="fas fa-plus-circle main-icon"></i>
          <%= content_tag :h3, "#{t(:new_ticket, default: 'New ticket')}" %>
          <button class="btn btn-default"><%= "#{t(:open_ticket, default: 'Open a new ticket')}" %></button>
        <% end %>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-4 col-sm-4 main-option-container">
      <div class="jumbotron text-center main-option">
        <%= link_to(tickets_path) do %>
          <i class="fas fa-ticket-alt main-icon"></i>
          <%= content_tag :h3, "#{t(:your_tickets, default: 'Your tickets')}" %>
          <button class="btn btn-default"><%= "#{t(:your_tickets, default: 'Your Tickets')}" %></button>
        <% end %>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>

<% end %>
