<% content_for :page_title do %>
    <h3><%= params[:first] == 'true' ? t('devise.sessions.new.sign_in') : t('devise.passwords.edit.change_my_password') %></h3>
<% end %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

reset token created by helpy and inserted in database:
["reset_password_token", "[\"XNMa_ydge92VwymKard_\", \"479bbdc7d0a9a42b3fb645d1b17657a7d2e76286561e3724019a976278807339\"]"]


show params sent to form:
<%= params[:reset_password_token] %>

show the info to be sent hidden 
<%=  @km_token= @user.reset_password_token %>
 
<%= @km_token %>


  <%= f.hidden_field :reset_password_token, :value => @user.reset_password_token %>

  <%= f.input :password, autofocus: true, autocomplete: "off", label:I18n.t('devise.passwords.edit.new_password') %>
  <%= f.input :password_confirmation, autocomplete: "off", label: I18n.t('devise.passwords.edit.confirm_new_password') %>
  <%= f.button :submit, I18n.t('devise.passwords.edit.change_my_password'), class: 'btn btn-warning' %>
<% end %>
